%div.full.transit.transit-2
%footer.full
  %div.row
    %div.large-6.columns
      %div.social-icons
        - @channels.each do |channel|
          %a.social-icon{href: "#{channel.link}"}
            %i{class: "fi-social-#{channel.name}"}
      %div.copyright
        Bản quyền thuộc về Volcano.vn
    %div.large-5.columns.right
      %div.row
        %i.icon-pin
        = Settings[:address]
      %div.row
        %i.icon-iphone
        = Settings[:phone]
      %div.row
        %i.icon-envelope
        = Settings[:email]
