%header
  %div.logo.large-2.columns
    = image_tag "logo.png"
  %div.large-8.columns.right
    %div.row
      %div.email.large-4.columns
        %i.fi-mail
        = Settings[:email]
      %div.phone.large-5.columns
        %i.fi-telephone
        = Settings[:phone]
      %div.search.large-3.columns
        %div.row.collapse
          %div.large-9.columns
            %input{"type" => "text"}
          %div.large-3.columns
            %a.button.postfix
              %i.fi-magnifying-glass
    %nav.top-bar{"data-topbar" => ""}
      %section.top-bar-section
        %ul.right
          - @menus.each do |menu|
            - if menu.parent == nil then
              - has_child = !menu.subordinates.empty?
              %li{:class => (has_child ? "has-dropdown not-click" : "")}
                %a{href: "#{menu.link}"} #{menu.name}
                - if has_child then
                  %ul.dropdown
                    - menu.subordinates.each do |sub_menu|
                      %li
                        %a{href: "#{sub_menu.link}"} #{sub_menu.name}

