%div.product
  = image_tag "#{product.featured_image}"
  %div.overlay
    %div.name #{product.name}
    %a.icon{"href" => "#", "data-reveal-id" => "product-modal-#{product.id}"}
      %i.fi-magnifying-glass
%div.reveal-modal{"id" => "product-modal-#{product.id}", "data-reveal" => ""}
  = image_tag "#{product.featured_image}", width: "100%"
