%section.full.banners
  %div.slides
    %div
      = image_tag "banner-1.png"
    %div
      = image_tag "banner-1.png"
  %div.buttons
    %div.banner-button
      %a
        = image_tag "cachthucgiaodich.png"
    %div.banner-button
      %a
        = image_tag "dathangonline.png"
    %div.banner-button
      %a
        = image_tag "chonsizeao.png"
%div.full.transit.transit-1
%section.products
  %div.container
    %h3.title Sản phẩm nổi bật
    %div.row
      %div.product
        = image_tag "product-1.png"
        %div.overlay
          %div.name 12A13 - THPT Kim Liên
          %a.icon
            %i.fi-magnifying-glass
      %div.product
      %div.product
      %div.product
    %div.row
      %div.product
      %div.product
      %div.product
      %div.product
%section.categories
  %h3.title Các loại áo
  %div.row
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "aothun.png"
          %div.name Áo thun
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "aocobe.png"
          %div.name Áo cổ bẻ
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "aokhoac.png"
          %div.name Áo khoác
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "aosomi.png"
          %div.name Áo sơ mi
  %div.row
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "vest.png"
          %div.name
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "mu.png"
          %div.name
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "huyhieu.png"
          %div.name
    %div.category
      %div.image
        %a{href: "#"}
          = image_tag "vay.png"
          %div.name
%section.lookbook
  %h3.title Lookbook
  %div.slides
    %div.slide
      = image_tag "lookbook-1.png"
    %div.slide
      = image_tag "lookbook-2.png"
    %div.slide
      = image_tag "lookbook-3.png"
    %div.slide
      = image_tag "lookbook-1.png"
    %div.slide
      = image_tag "lookbook-2.png"
    %div.slide
      = image_tag "lookbook-3.png"
