%section.full.banners
  %div.slides
    - @banners.each do |banner|
      %div
        %img{src: "#{banner.featured_image}"}
  %div.buttons
    %div.banner-button
      %a
        = image_tag "cachthucgiaodich.png"
    %div.banner-button
      %a
        = image_tag "dathangonline.png"
    %div.banner-button
      %a
        = image_tag "chonsizeao.png"
%div.full.transit.transit-1
%section.products
  %h3.title Sản phẩm nổi bật
  - @products.each_slice(4).to_a.each do |row|
    %div.row
      - row.each do |product|
        = render "product_partial", :product => product
%section.categories
  %h3.title Các loại áo
  - @categories.each_slice(4).to_a.each do |row|
    %div.row
      - row.each do |category|
        = render "category_partial", :category => category
%section.lookbook
  %h3.title Lookbook
  %div.slides
    %div.slide
      = image_tag "lookbook-1.png"
    %div.slide
      = image_tag "lookbook-2.png"
    %div.slide
      = image_tag "lookbook-3.png"
    %div.slide
      = image_tag "lookbook-1.png"
    %div.slide
      = image_tag "lookbook-2.png"
    %div.slide
      = image_tag "lookbook-3.png"
