%section.order
  %div.full
    %div.row
      %h4.title Đặt hàng
  %div.full.transit.transit-1
  - if flash[:notice]
    %div.row.notice
      %div.alert-box.success.radius
        %h5= flash[:notice]
        %a.close &times;
  %div.row.content
    %div.columns.large-6
      = form_for :order, :url => {:controller => 'orders', :action => 'create'} do | f |
        %div.row
          %div.columns.large-8
            = f.text_field :name, placeholder: "Họ tên"
        %div.row
          %div.columns.large-8
            = f.text_field :phone, placeholder: "Điện thoại"
        %div.row
          %div.columns.large-8
            = f.text_field :email, placeholder: "Email (không bắt buộc)"
        %div.row
          %div.columns.large-12
            = f.text_field :title, placeholder: "Tiêu đề"
        %div.row
          %div.columns.large-12
            = f.text_area :content, placeholder: "Nội dung"
        %div.row
          %div.columns.large-4.right
            = f.submit value: "Gửi", class: "button large-12"
    %div.columns.large-5.right
      %div.row
        %div.columns.large-12
          %span.icon-pin
          %b Địa chỉ
          %br
          = Settings.address
      %div.row
        %div.columns.large-12
          %span.icon-iphone
          %b Hotline
          %br
          = Settings.phone
      %div.row
        %div.columns.large-12
          %span.icon-envelope
          %b Email
          %br
          = Settings.email
      %div.row.map
        %div.columns.large-12
          <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=z2tOkRD-Wy3w.k53qkeEuOv44" width="100%" height="300" style="border:0"></iframe>
